article {
    text-align: center;
    margin-top:20px;
    
}
h1{
    margin-top:30px;
    font-size: 35px;
}
.link{
   color:blue;
   
}
.link:hover{
    color: red;
    text-decoration: underline;
}
.primeiro-paragrafo{
    font-size: 20px;
    margin-top: 25px;
    margin-bottom:15px;
}
.imagem1{
    width:26%;
}

@media screen  and (max-width:1100px)  {
    .imagem1{
        width:40%;
    }
    h1{
        
        margin-top:30px;
        font-size: 30px;
    } 
}
